.human { background-color: #66CCFF;
border: 2px solid #3D7A99;
border-radius: 5px;
display: inline-block;
width: 40%;
height: 60%;
margin-left: 7%;
}

.computer { background-color: #66FF66;
border: 2px solid #338033;
border-radius: 5px;
display: inline-block;
width: 40%;
height: 60%;
margin-left: 5%;
}

.boss { display: block;
	border: 2px solid #000000;
	width: 30%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px;
}

.inner { display: inline-block;
	width: 100px;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5px;
}

.results { display: block;
	width: 80%;
	background-color: #CC99FF;
	border: 2px solid #000000;
	border-radius: 5px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

.scores { display: inline-block;
	width: 15%;
	margin-top: 20px;
	margin-left: 13%;
	padding: 5px;
	border: 2px solid #000000;
	border-radius: 5px;
	text-align: center;
}

#go {display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
}

.choices { display: inline-block;
	width: 20%;
	margin-top: 20px;
	margin-left: 20%;
	padding: 5px;
	border: 2px solid #000000;
	border-radius: 5px;
	text-align: center;
}
